
/* 
375 =>  iphone 6/7/8 , 
        iphone x 
        
*/

@media only screen and (max-width: 375px) {
    .container {
        width: 355px;
    }


body {
    background-color: red !important;
}






    /*  */
    .landing {

        height: calc(100vh - 0px);
    }

    .landing .intro-text h1 {
        font-size: 50px;
    }

    .landing .intro-text p {
        font-size: 20px;
        padding: 20px;
        padding-top: 0;
        margin-top: 0;
    }














































}



